Django==4.0
asgiref==3.6.0
djangorestframework==3.14.0
greenlet==3.0.3
importlib_metadata==8.0.0
MarkupSafe==2.1.5
psycopg2==2.9.9
psycopg2-binary==2.9.9
python-dotenv==1.0.1
SQLAlchemy==2.0.31
sqlparse==0.4.4
typing_extensions==4.12.2
tzdata==2023.3
zipp==3.19.2
